
.content{
    padding-bottom: 130px;
    background-color: white;
}
.middle-top .toppage{
    color: #72899B;
    text-decoration: none;
    font-family: "微软雅黑";
}
.middle-top .active{
     color: #34495E;
     text-decoration: none;
     font-family: "微软雅黑";
}

/* 左导航栏 */
.middle-left{
    width: 251px;
    height: 845px;
    border: 1px solid #EBEBEB;
    float: left;
}
.middle-left ul{
    list-style: none;
}
.middle-left .peoplecenter{
    width: 249px;
    height: 79px;
    background-color: #FBFBFB;
    border-bottom: 1px solid #EFF3F6;
    line-height: 79px;
    font-size: 24px;
    color: #34495E;
}
.middle-left .peoplecenter li{
    margin-left: 35px;
    font-weight: 600;
}
.middle-left .myorder{
    width: 251px;
    height: 90px;
    /* border: 1px solid red; */
}
.middle-left .myorder li{
    color:#34495E ;
    font-size: 20px ;
    margin-left: 35px;
    margin-top: 35px;
    font-weight: 600;
}
.middle-left .myorder li ul{
    margin-left: -50px;
    margin-top: 20px;
}
.middle-left .myorder li ul li{
    width: 70px;
    color: #72899B;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    font-weight: 400;
}
.middle-left .myfavorites{
    width: 251px;
    height: 90px;
    /* border: 1px solid red; */
}
.middle-left .myfavorites li{
    color:#34495E ;
    font-size: 20px ;
    margin-left: 35px;
    margin-top: 35px;
    font-weight: 600;
}
.middle-left .myfavorites li ul{
    margin-left: -50px;
    margin-top: 20px;
}
.middle-left .myfavorites li ul li{
    font-size: 16px;
    width: 70px;
    text-align: center;
    margin-top: 10px;
    border-bottom: 1px solid #009CE1;
    color: #009CE1;
    font-weight: 400;
}
.middle-left .infos{
    width: 251px;
    height: 220px;
    /* border: 1px solid red; */
}
.middle-left .infos li{
    color:#34495E ;
    font-size: 20px ;
    margin-left: 35px;
    margin-top: 35px;
    font-weight: 600;
}
.middle-left .infos li ul{
    margin-left: -50px;
    margin-top: 20px;
}
.middle-left .infos li ul li{
    color: #72899B;
    font-size: 16px;
    width: 70px;
    text-align: center;
    margin-top: 30px;
    font-weight: 400;
}
.middle-left .safe{
    width: 251px;
    height: 150px;
}
.middle-left .safe li{
    color:#34495E ;
    font-size: 20px ;
    margin-left: 35px;
    margin-top: 20px;
    font-weight: 600;
}
.middle-left .safe li ul{
    margin-left: -50px;
    margin-top: 20px;
}
.middle-left .safe li ul li{
    color: #72899B;
    font-size: 16px;
    width: 70px;
    text-align: center;
    padding-top: 10px;
    font-weight: 400;
}

/* 订单信息 */
.middle-infos{
    width: 1008px;
    height: auto;
    margin-left: 270px;
    border: 1px solid #EBEBEB;
}
.middle-infos .infos-top{
    width: 1006px;
    height: 80px; 
    border-bottom: 1px solid #EFF3F6;
    background-color: #FBFBFB;
}
.middle-infos .infos-top ul{
    list-style: none;
    width: 550px;
    height: 80px;
}
.middle-infos .infos-top ul li{
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 5px;
    text-align: center;
    line-height: 80px;
    color: #34495E;
    font-size: 20px;
}
.middle-infos .infos-top ul li:first-child{
    color: #009CE1;
    border-bottom: 4px solid #009CE1;
}
.middle-infos .infos-top .btn{
    width: 400px;
    height: 80px;
    margin-top: -145px;
    margin-left: 600px;
    /* border: 1px solid red; */
}
.middle-infos .infos-top .count{
    width: 140px;
    height: 70px;
    /* border: 1px solid red; */
    float: left;
    line-height: 70px;
    font-size: 16px;
    color: #34495E;
    font-weight: "微软雅黑";
}
.middle-infos .infos-top .count span{
    font-size: 28px;
    color: #FF1818;
    font-family: "TitilliumWeb";
}
.middle-infos .infos-top .check{
    width: 100px;
    height: 70px;
    margin-left: 160px;
    color: #72899B;
    line-height: 80px;
    /* border: 1px solid red; */
    font-size: 16px;
}
.middle-infos .infos-top .check input[type=checkbox]{
    width: 18px;
    height: 18px;
    margin: 30px 10px;
    float: left;
    margin-right: 10px;
    line-height: 80px;
    padding-left: 15px;
}
.middle-infos .infos-top .check .quan{
    margin-left: 40px;
    margin-top: -80px;
    width: 60px;
    height: 70px;
    line-height: 80px;
    font-size: 16px;
}
.middle-infos .infos-top .del{
    width: 100px;
    height: 70px;
    margin-left: 280px;
    color: #72899B;
    line-height: 75px;
    margin-top: -70px;
}
.middle-infos .infos-top .del svg{
    margin-left: -48px;
}
.middle-infos .infos-top .del .hh{
    margin-left: 30px;
    margin-top: 10px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    /* border: 1px solid red; */
    font-size: 16px;
}

 /* title */
.middle-infos .middle-infos-title{
    width: 1006px;
    height: 64px;
    margin-top: 10px;
    left: 0;
    font-size: 18px;
    color: #34495E;
    background-color: #EFF3F6;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
}
.middle-infos .middle-infos-title p{
    width: 300px;
    height: 64px;
    line-height: 64px;
    padding-left: 60px;
}
.middle-infos .middle-infos-title ul{
    width: 500px;
    height: 64px;
    list-style: none;
    margin-left: 500px;
    margin-top: -80px;
}
.middle-infos .middle-infos-title ul li{
    float: left;
    width: 130px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    margin-left: 20px;
    padding-left: 40px;
}

/* table */
.middle-order-infos{
    width: 1006px;
    /* height: 199px; */
    border: 1px solid #EFF3F6;
    /* margin-top: 10px; */
}
.middle-order-infos .product-title{
    width: 1006px;
    height: 50px;
    border: 1px solid #E5E5E5;
    background-color: #EFF3F6;
}

.middle-order-infos .product-title ul{
    list-style: none;
    color: #72899B;
    font-family: "TitilliumWeb";
    font-size: 15px;
}
.middle-order-infos .product-title ul li{
    float: left;
    width: 240px;
    height: 50px;
    /* border: 1px solid red; */
    line-height: 50px;
}
.middle-order-infos .product-title span{
    font-size: 17px;
}
.middle-order-infos .product-title .math{
    margin-left: -20px;
}
.middle-order-infos .product-title .logo{
    margin-left: 260px;
    padding-left: 200px;
}
.content-item-info-3 table{
    border: 1px solid #E5E5E5;
    width: 1008px;
    margin-top:30px 
}
tr{
    width: 1008px;
    display: inline-block;
    border-bottom: 1px solid #EFF3F6;
}
.content-item-info-3 table tr:first-child{
    height: 74px;
    background-color: #EFF3F6;
    font-weight: 100px;
}
.content-item-info-3 table tr:last-child{
    background-color:white;
}
.content-item-info-3 table tr td:first-child {
    width: 70px;
}
.content-item-info-3 div table tr td .cxbox{
    display: inline-block;
    margin-left: 40px;
}
.content-item-info-3 div table tr +tr {
    height: 210px;
}
.product-img{
    width: 102px;
    height: 102px;
    line-height: 102px;
    border: 1px solid #E8E8E8;
    text-align: center;
    margin-left: 60px;
}
.product-img img{
    width: 76px;
    height: 59px;
}
.product-message{
    width: 380px;
    height: 149px;
    margin-left: 20px;
    padding-top: 20px;
    border-right: 1px solid #EFF3F6;
    display: inline-block;
}
.product-message span{
    font-family: "微软雅黑";
    font-size: 12px;
    font-weight: bold;
    color:#34495E ;
    padding-top: -10px;
    width: 300px;
    display: inline-block;
}
.product-message div ul{
    padding: 0;
    list-style: none;
    margin-top: 13px;
}
.product-message div ul li{
    color: #72899B;
    font-size: 12px;
    font-family: "微软雅黑";
}
.product-price{
    width: 150px;
    text-align: center;
    font-family: "TitilliumWeb";
    font-size: 14px;
    color: #FF1818;
    border-right: 1px solid #EFF3F6;
}
.product-price span{
    font-family: "TitilliumWeb";
    font-size: 20px;
}
.product-number{
    width: 170px;
    text-align: center;
    font-family: "TitilliumWeb";
    font-size: 14px;
    color: #009CE1;
    padding-left: 0px;
    border-right: 1px solid  #EFF3F6;
}
.product-number .No{
    color: #34495E;
    font-size: 14px;
}
.product-number .wait{
    color: #FF1818;
    font-size: 14px;
}
.product-number a{
    width: 100px;
    height:20px;
    line-height: 11px;
    display:inline-block;
    text-align: center;
    font-family: "微软雅黑";
    font-size: 14px;
    margin-left: 0px;
    font-weight: bold;
    color: #009CE1;
}
.product-number a:hover{
    text-decoration: none;
}
.table-5{
    text-align: center;
}
.table-6{
    width: 120px;
    text-align: center;
}
.product-amount{
    text-align: center;
    font-family: "TitilliumWeb";
    font-size: 20px;
    color: #34495E;
    padding-left: 30px;
}
.product-amount span{
    font-family: "TitilliumWeb";
    font-size: 14px;
}
table tr td input[type=checkbox]{
    width: 18px;
    height: 18px;
    margin: 40px 20px;
    float: left;
    margin-right: 30px;
    /* border: 1px solid #B9B9B9; */
}
input[type=checkbox] {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    outline: 0 !important;
    line-height: 20px;
    color: #d8d8d8;
}

input[type=checkbox]:after {
    content: "";
    display:block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 14px;
    font-size: 16px;
    color: #fff;
    border: 1px solid #ddd;
    background-color: #fff;
    box-sizing:border-box;
    border-radius: 5px;
}

input[type=checkbox]:checked:after {
    content: "\2714";
    display:block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 14px;
    font-size: 16px; 
    border-color: #009CE1;
    background-color: #009CE1;
}
