.wk-payment-content-top-p{
  margin: 0;
  color: #97A6AE;
}
.wk-payment-content-top-p a{
  font-family: "微软雅黑";
  font-size: 14px;
  color: #97A6AE;
  /* margin-top: 20px; */
}
.wk-payment-content-top-p .active {
  color: #34495E;
}
.content-content-content .pay .pay-top p:first-child lable{
color:#34495E ;
font-size: 16px;
}
.content-content-content .pay .pay-top p:last-child{
  padding-top: 25px;
}
.content-content-content .pay .pay-top p:last-child label:first-child{
  color: #009CE1;
  font-size:20px;
  border-bottom: 4px solid #009CE1;
  padding-bottom: 12px;
}
.content-content-content .pay .pay-top p:last-child label:last-child{
  color: #34495E;
  font-size: 20px;
  margin-left: 64px;
}
.content-content-content .pay .pay-top{
  border-bottom: 1px solid #EFF3F6;
  height: 112px;
}
.content-content-content .pay .pay-content{
  overflow: hidden;
}
.content-content-content .pay .pay-content .pay-content-left{
  /* float: left; */
  margin-left: 116px;
  margin-top: 83px;
} 
.pay-content-left p:first-child{
  float: left;
  margin-left: 60px;
}
.pay-content-left p:last-child{
  margin-left: 605px;
}
.content-content-content .pay .pay-content .pay-content-left p input[type=radio]{
  width: 20px;
  height: 20px;
}
.content-content-content .pay .pay-content .pay-content-left p svg,.pay-content-left p img{
  margin-left:59px ;
}
.content-content-content .pay .pay-content .pay-content-left p:last-child{
  margin-top:77px ;
}

.content-content-content  .pay .pay-bottom{
  height: 133px;
  clear: both;
  margin-top: 78px;
  background-color: #EFF3F6;
  padding-right: 54px;
}
.content-content-content .pay .pay-bottom p{
  text-align: right;
  color: #72899B;
  font-size: 12px;
  padding-top:19px ;
}
.content-content-content .pay .pay-bottom p span:first-child{
  vertical-align: super;
}
.content-content-content .pay .pay-bottom p span:nth-child(2){
  color: #FF1818;
  vertical-align: bottom;
}
.content-content-content .pay .pay-bottom p span:nth-child(2){
  font-size: 20px;
}
.content-content-content .pay .pay-bottom p span:last-child{
  font-size: 24px;
  margin-right: 5px;
  color: #FF1818;
  vertical-align: bottom;
}
.content-content-content .pay .pay-bottom input[type=submit]{
  width: 174px;
  height: 50px;
  display:block;
  float: right;
  background-color: #009CE1;
  border: 1px solid #2289C2;
  color: white;
  border-radius: 3px;
  margin-top: -10px;
}

  .content-content-top-choose span + span{
    color: #72899B;
  }
  .content-content-top-choose:last-child  span:last-child{
    color: #019be1;
}
/* 微信支付弹出框 */
.modal-content{
  margin-left: -227px;
  margin-top: 48px;
}
#wechat-clink{
  margin-left: -16px;
  margin-top: -16px;
}
#wechat-clink,.modal-body{
  width:980px ;
  height: 625px;
  background-color: white;
  margin-top: -16px;
}
 .modal-header{
   width: 980px;
  height: 100px;
  background-color: white;
}
.modal-content hr{
  border: 1px solid #009de117;
  width: 976px;
  margin-left: -15px;
  margin-top: -2px;

}
.modal-header .close{
  margin-top: 2px;
  margin-right: 15px;
}
.modal-header .close span{
  font-size: 32px;
    color: #34495E;
    font-weight: 400;
}
.modal-header .modal-title{ 
  margin-top: 17px;
    margin-left: 30px;
    font-size: 24px;
    color: #34495E;
}
#wechat-clink p:first-child label {
  margin-left: 50px;
}
.QR-code{
  width: 289px;
  height: 373px;
  /* border:1px solid #EFF3F6 ; */
  border-radius: 6px;
  box-shadow: 1px 1px 10px 0px #EFF3F6;
  margin-left: 315px;
  margin-top: 60px;
  float: left;
}
.QR-code p .code-pic{
  margin-left: 10px;
  margin-top: 10px;
}
.QR-code p:last-child{
  margin-top: 23px;
    text-align: center;
}
.QR-code p:last-child label:first-child{
  vertical-align: middle;
}
.QR-code p:last-child label:last-child{
  vertical-align: middle;
  margin-left: 15px;
  color: #72899B;
  font-size: 14px;
}
.wxscans img{ 
  margin: 100px 15px;
}
.clink-pay{
  clear: both;
}
.clink-pay input:first-child{
  width: 186px;
  height: 54px;
  line-height: 54px;
  color: #FFFFFF;
  background-color: #009CE1;
  border-radius: 5px;
  border: 1px solid #2289C2;
  font-size: 18px;
  margin-left: 247px;
  margin-top: 64px;
}
.clink-pay input:last-child{
  width: 186px;
  height: 54px;
  line-height: 54px;
  color: #72899B;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #E1E9EF;
  font-size: 18px;
  margin-left: 73px;
}
/* 底部 */

.tail{
  clear: both;
}

.content-content-top div .choose {
  z-index: 0;
}