.content{
    background-color: white;
    padding-bottom: 110px;
}
.content-top a{
    font-family: "微软雅黑";
    font-size: 14px;
    color: #97A6AE;
}
.content-top .active{
    color: #34495E;
}
.content-content-top-choose hr{
    border-radius: 5px;
    border: 1px #EFF3F5 solid;
    background-color: #EFF3F5;
    width: 400px;
    height: 7px;
    margin: 0px;
    margin-left: 15px;
    z-index: 1;
}
.content-content-top-choose .hractive{
    background-color: #009CE1;
    border: 1px #009CE1 solid;
}
.content-content-top{
    padding-top: 25px;
    height: 160px;
}
.content-content-top-choose {
    float: left;
    text-align: center;
    width: 430px;
}
.content-content-top div .choose{
    position:relative;
    top: -25px;    
    z-index: 2;
    width: 40px;
    height:40px;
    line-height: 40px;
    display:inline-block;
    border-radius: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-family: 'TitilliumWeb';
    color: white;
    background-color: #019be1;
}
.content-content-top-choose span + span{
    font-size: 16px;
    font-family: "微软雅黑";
    color: #019be1;
    display: block;
}
.content-content-top-choose +.content-content-top-choose span +span{
    color: #72899B;
}
.content-content-content table{
    border: 1px solid #EFF3F6;
    width: 100%;
}
.content-content-content table tr{
    border: 1px solid #EFF3F6;
}
.content-content-content table tr:first-child{
    border: 1px solid #E5E5E5;
    height: 72px;
    background-color: #EFF3F6;
}
.content-content-content table tr:last-child{
    height: 133px;
    border: 1px solid #E5E5E5;
    background-color: #EFF3F6;
}
.content-content-content table tr td:first-child {
    width: 70px;
}
.content-content-content div table tr td .cxbox{
    display: inline-block;
    margin-left: 40px;
}
.content-content-content div table tr +tr {
    height: 210px;
}
.content-content-content div table tr .table-1{
    width: 180px;
}
.content-content-content div table tr .table-2{
    width: 400px;
}
.product-img{
    width: 160px;
    height: 160px;
    line-height: 160px;
    border: 1px solid #E8E8E8;
    text-align: center;
}
.product-message{
    height: 160px;
}
.product-message span{
    font-family: "微软雅黑";
    font-size: 14px;
    font-weight: bold;
}
.product-message div ul{
    margin-top: 40px;
    padding: 0;
    list-style: none;
}
.product-message div ul li{
    margin-top: 5px;
    color: #72899B;
    font-size: 12px;
    font-family: "微软雅黑";
}
.table-3{
    text-align: center;
    width: 150px;
}
.product-price{
    text-align: center;
    font-family: "TitilliumWeb";
    font-size: 20px;
    color: #FF1818;
}
.product-price span{
    font-family: "微软雅黑";
    font-size: 16px;
}
.table-4{
    width: 140px;
    text-align: center;
}
.product-number{
    text-align: center;
    font-family: "TitilliumWeb";
    font-size: 20px;
    color: #72899B;
}
.product-number .reduce{
    width: 16px;
    height:16px;
    line-height: 10px;
    display:inline-block;
    border-radius: 100%;
    border: 1px solid #E8E8E8;
    text-align: center;
    font-family: "微软雅黑";
    font-size: 20px;
    margin-right: 10px;
    font-weight: bold;
    color: #E8E8E8;
    background-color: white;
}
.product-number .up{
    width: 16px;
    height:16px;
    line-height: 11px;
    display:inline-block;
    border-radius: 100%;
    border: 1px solid #34495E;
    text-align: center;
    font-family: "微软雅黑";
    font-size: 16px;
    margin-left: 10px;
    font-weight: bold;
    color: white;
    background-color:#34495E;
}
.product-number a:hover{
    text-decoration: none;
}
.table-5{
    text-align: center;
}
.table-6{
    width: 120px;
    text-align: center;
}
.product-amount{
    text-align: center;
    font-family: "TitilliumWeb";
    font-size: 20px;
    color: #FF1818;
}
.product-amount span{
    font-family: "微软雅黑";
    font-size: 14px;
}
.product-del{
    text-align: center;
}
.product-del a{
    color: #72899B;
    font-size: 14px;
    font-family: "微软雅黑";
}
.product-del a{
    text-decoration: none;
}
/* 隐藏下架信息 在后面样式加上show 表示显示下架*/
.product-img{
    position: relative;
}
.product-img span{
    font-family: "微软雅黑";
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    background-color: rgba(0, 0, 0, 36%);
    color: white;
    left: 0;
    width: 160px;
    display: none;
}
.product-img .show{
    display: inline-block;
}
/* 删除商品 */
.delectAllProduct a{
    margin-left: 28px;
    color: #72899B;
}
.delectAllProduct a:hover{
    text-decoration: none;
}
/* 结算 */
.settlement div{
    font-family: "微软雅黑";
    font-size: 12px;
    color: #72899B;
}
.settlement div span{
    color: #FF1818;
    font-size: 20px;
}
.settlement div span + span{
    font-size: 24px;
    margin-left: 3px;
    font-family: "TitilliumWeb";
}
.settlement input{
    margin-top: 10px;
    font-size: 18px; 
    color: white;
    width: 190px;
    height: 50px;
    background-color: #009CE1;
    border: 1px solid #2289C2;
    border-radius: 5px;
}
.settlement{
    padding-left: 120px;
}