.wkea-index-nav{
    margin-top: 35px;
    background-color: white;
    height: 58px;
}
.wkea-index-nav ul{
    z-index: 10000;
    padding: 0px;
    margin: 0px;
}
.wkea-index-nav ul li{
    text-align: center;
    width: 180px;
    height: 58px;
    line-height: 58px;
}
.wkea-index-nav ul li a{
    text-decoration: none;
    font-family: "微软雅黑";
    color: #34495E;
    font-size: 18px;
}
.wkea-index-nav ul .wkea-index-nav-li{
    width: 250px;
    text-align: center;
    background-color:#009CE1 ;
}
.wkea-index-nav-li +div{
    background-color:none ;

}
.wkea-index-nav ul li:first-child a{
    color: white;
}
.wkea-index-nav ul li:hover .wkea-index-nav-ul-ul{
    display: block;
}
.wkea-index-nav-ul-ul {
    display: none;
    background-color: white;
    list-style: none;
}
.wkea-index-nav ul li .wkea-index-nav-ul-ul li{
    float: none;
    height: 40px;
    width: 250px;
    line-height: 40px;
    margin-right: 0px;
}
.wkea-index-nav ul li .wkea-index-nav-ul-ul li:hover{
        background-color: rgba(0, 156, 225, 0.17);
}
.wkea-index-nav ul li .wkea-index-nav-ul-ul li a{
    font-size: 16px;
    font-family: "微软雅黑";
    color: black;
}
.float-left{
    padding-left: 15px;
}
.float-right{
    padding-right: 15px;
}
.wkea-index-nav-ul-ul li:hover a div {
    color: #009CE1;
}
.wkea-index-nav-ul-ul-li:hover svg{
    filter: drop-shadow(#009CE1 80px 0);
    transform: translateX(-80px);
}
.wkea-index-nav-ul-ul-li a div:hover .float-right{
    overflow:hidden;
}
.wkea-index-nav-ul-ul li:hover ul{
    display: block;
}
.wkea-index-nav-ul-ul ul{
    display: none;
    border: 2px solid #009CE1;
    background-color: white;
}
.wkea-index-nav-ul-ul {
    position: relative;
}
.wkea-index-nav-ul-ul-li ul{
    top: 0px;
    left: 250px;
    position: absolute;
}
.wkea-index-nav-ul-ul-li ul:hover +a .float-right{
    overflow: hidden;
}
.wkea-index-nav-item{
    position: relative;
}
.wkea-index-nav-item:hover .wkea-index-nav-item-ul {
    display: block;
}
.wkea-index-nav-item ul{
    display: none;
    list-style: none;
    position:absolute;
    width: 180px;
    left: 0px;
    background-color: white;
}
.wkea-index-nav ul li ul li {
    padding-left: 15px;
    text-align: left;
    height: 40px;
    line-height: 40px;
}
.wkea-index-nav ul .wkea-index-nav-item ul li a{
    font-size: 16px;
    font-family: "微软雅黑";
    color: black;
}
.wkea-index-nav-item ul li ul{
    display: none;
    position:absolute;
    left: 180px;
    top: 0px;
}
.wkea-index-nav-item ul li:hover ul{
    display: block;
}
.wkea-index-nav-item ul li:hover{
    background-color: rgba(0, 156, 225, 0.17);
}
.wkea-index-nav ul .wkea-index-nav-item ul li:hover .wkea-index-nav-item-li-a{
    color: #009CE1;
}
.wkea-index-nav ul .wkea-index-nav-item ul li ul li:hover a{
    color: #009CE1;
}
.wkea-index-nav-item ul li ul li:hover{
    background-color: rgba(0, 156, 225, 0.17);
}