.content-top p{
  color:#97A6AE;
  margin-top: 20px;
}
.content-content-content .pay .pay-top p:first-child lable{
color:#34495E ;
font-size: 16px;
}
.content-content-content .pay .pay-top p:last-child{
  padding-top: 25px;
}
.content-content-content .pay .pay-top p:last-child label:first-child{
  color: #009CE1;
  font-size:20px;
  border-bottom: 4px solid #009CE1;
  padding-bottom: 12px;
}
.content-content-content .pay .pay-top p:last-child label:last-child{
  color: #34495E;
  font-size: 20px;
  margin-left: 64px;
}
.content-content-content .pay .pay-top{
  border-bottom: 1px solid #EFF3F6;
  height: 112px;
}
.content-content-content .pay .pay-content{
  overflow: hidden;
}
.content-content-content .pay .pay-content .pay-content-left{
  float: left;
  margin-left: 116px;
  margin-top: 83px;
} 
.content-content-content .pay .pay-content .pay-content-left p input[type=radio]{
  width: 20px;
  height: 20px;
}
.content-content-content .pay .pay-content .pay-content-left p svg,.pay-content-left p img{
  margin-left:59px ;
}
.content-content-content .pay .pay-content .pay-content-left p:last-child{
  margin-top:77px ;
}
.content-content-content .pay .pay-content .pay-content-right{
  float: right;
  width: 720px;
    border-left: 1px solid #EFF3F6;
  margin-top: 42px;
} 
.content-content-content .pay .pay-content .pay-content-right .right-all{
  padding-left: 124px;
  padding-top: 13px;
}
.content-content-content .pay .pay-content .pay-content-right .right-all  p:first-child{
  color: #34495E;
  font-size: 18px;
}
.content-content-content .pay .pay-content .pay-content-right .right-all p+p label:first-child span{
  color: #34495E;
}
.content-content-content .pay .pay-content .pay-content-right .right-all p+p label:first-child span:first-child{
  font-size: 16px;
}
.content-content-content .pay .pay-content .pay-content-right .right-all p+p label:first-child span:last-child{
  font-size: 18px;
}
.content-content-content .pay .pay-content .pay-content-right .right-all p+p label:last-child{
  background-color: #009CE1;
  color: white;
  font-size: 12px;
  width: 45px;
  height: 23px;
  border-radius:15px ;
  text-align: center;
  line-height: 23px;
  /* vertical-align: middle; */
  margin-left: 16px;
}
.content-content-content .pay .pay-content .pay-content-right .right-all p+p{
  margin-bottom: 29px;
}
.content-content-content .pay .pay-content .pay-content-right .right-all  .right-right{
 float: left;
}
.content-content-content .pay .pay-content .pay-content-right .right-all p+p+p  .wechat-word{
  display: block;
  width: 150px;
 
}
.content-content-content .pay .pay-content .pay-content-right  .right-all .wechat-word{
  margin: 12px 16px;
  color: #72899B;
}
.content-content-content .pay .pay-content .pay-content-right .right-all ul{
  float:right;
  list-style-type: none;
}
.content-content-content .pay .pay-content .pay-content-right .right-all ul li{
  font-size: 20px;
  color: #526A7D;
  margin: 15px 50px;
}
.content-content-content .pay .pay-content .pay-content-right .right-all ul li:nth-child(2) span{
  font-size: 22px;
}
.content-content-content  .pay .pay-bottom{
  height: 133px;
  clear: both;
  margin-top: 78px;
  background-color: #EFF3F6;
  padding-right: 54px;
}
.content-content-content .pay .pay-bottom p{
  text-align: right;
  color: #72899B;
  font-size: 12px;
  padding-top:19px ;
}
.content-content-content .pay .pay-bottom p span:first-child{
  vertical-align: super;
}
.content-content-content .pay .pay-bottom p span:nth-child(2){
  color: #FF1818;
  vertical-align: bottom;
}
.content-content-content .pay .pay-bottom p span:nth-child(2){
  font-size: 20px;
}
.content-content-content .pay .pay-bottom p span:last-child{
  font-size: 24px;
  margin-right: 5px;
  color: #FF1818;
  vertical-align: bottom;
}
.content-content-content .pay .pay-bottom input[type=submit]{
  width: 174px;
  height: 50px;
  display:block;
  float: right;
  background-color: #009CE1;
  border: 1px solid #2289C2;
  color: white;
  border-radius: 3px;
  margin-top: -10px;
}

  .content-content-top-choose span + span{
    color: #72899B;
  }
  .content-content-top-choose +.content-content-top-choose span +span {
    color: #019be1;
}

.tail{
  clear: both;
}