<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/bootstrap.css">
  <title>导航栏</title>
  <link rel="stylesheet" href="../css/public.css">
  <link rel="stylesheet" href="../css/wkea-index-nav.css">
</head>

<body>
  <div class="wkea-index-nav">
    <div class="centre">
      <ul class="clear">
        <li class="wkea-index-nav-li">
          <a href="wkea-index.html">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="13" height="13"
              viewBox="0 0 13 13">
              <defs>
                <pattern id="pattern" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 31 29">
                  <image width="31" height="29"
                    xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAdCAYAAABSZrcyAAAAAXNSR0IArs4c6QAAAERlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAABAAAAH6ADAAQAAAABAAAAHQAAAAAKR4aWAAABkUlEQVRIDe2Xv0vDQBiGc6JFKIiCiDoqiEIVBwfF0UEQ8e9wENF/wMVBlOrSzV0KgoOLiIOgi6OD0E3EwR/UgoJ0KIrxeY+kHBnlbjIfPL0vl+Z9m+9yd42J43gsiqJDmIYO8BVvCO0aY6RtA68FkgoMwElERw1CxpycMeiDH9dIdzqhkwFjPtEeoTWOT1Pml05HiPQsEa3RaijSKBqVg6MDmASfY95Ar8yYX9DawGucpAz9cGo784+8AnkFQldA87wHkz2YAZ/zvI7eDvP8itYGXqMk+zAIx1pzzyFkaOOSTzc8u0a600WdDBgriXaJdsjxsWv7vdMRIr1JRB8y4kWVowS38AXfHmmgtekacrwMT9CCo/YWx8EwX2wfuxf9Mf/gYWtmr8WnQF8v5/RA5pFX4J9UwE4tHv917ncWfK7tr+jpf/tLWkt8usi3QStdVYtMBUJFHWG9INggv3aNZB461uSMyVTGqKUyf9qfFe7jMZF+z1gUtJ8v0an3Ke3rPiNGrMqYr6aieG2Qb0En3P0CTEaJGlVLjo8AAAAASUVORK5CYII=" />
                </pattern>
              </defs>
              <rect id="图像_64" data-name="图像 64" width="13" height="13" fill="url(#pattern)" />
            </svg>
            &nbsp;&nbsp;
            全部商品分类</a>
          <ul class="wkea-index-nav-ul-ul">
            <li class="wkea-index-nav-ul-ul-li">
              <ul class="clear">
                <li>
                  <a href="">三级分类</a>
                </li>
                <li>
                  <a href="">三级分类</a>
                </li>
              </ul>
              <a href="">
                <div class="clearfix">
                  <div class="float-left">
                    商品
                  </div>
                  <div class="float-right">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="13"
                      height="12" viewBox="0 0 13 12">
                      <image id="图像_6" data-name="图像 6" width="13" height="12"
                        xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAYAAAC5tzfZAAAAAXNSR0IArs4c6QAAAERlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAABAAAADaADAAQAAAABAAAADAAAAACUqjEeAAABaUlEQVQoFXWRsUtCURTGv3OvQRFSSxBFTW1NgUNLBG0turUEqRWkSwRKREvPrdSCCKIiTGoJJ20WqsGtXIIa/AMim6Kgoec9nWsIPsyzvHO/c373fOc+QpfI5oqrIEoQcN0glDcjoUqrVbTOyORvVoj53FuhpWQ0eGU15S38nbTL95I9e2t8aaczM/0LQWNCLFSY8NAOEtFhKnWnfe1iKzeAtTZKBmdE+GZgxtbk2+cf/9zwQJl8cV0mDBr2BYh/5hWRw+Aag95FHxKOBPR77CnGCJhSCu4Lsa4pmFnpqwoQE+BNZh0ll4M7cgb2c6W4+A/LhnGCqhtj9kReFOBRXixge3ZPCwNbawsfNm9OYlZPko+xQZUNp12ttgkUFTMFx3GaPS3AQpS9KL2KzwNjcKI1pmTbsug9iUhQVrIrdIa9ZVg8prVCXV5r0rCaFptz3QB7hZI/HwPhS/Je2esY1OhPhEO3ttgtfgGW3Hhm2cyrowAAAABJRU5ErkJggg==" />
                    </svg>
                  </div>
                </div>
              </a>

            </li>
            <li class="wkea-index-nav-ul-ul-li">
              <a href="">
                <div class="clearfix">
                  <div class="float-left">
                    商品
                  </div>
                  <div class="float-right">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="13"
                      height="12" viewBox="0 0 13 12">
                      <image id="图像_6" data-name="图像 6" width="13" height="12"
                        xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAYAAAC5tzfZAAAAAXNSR0IArs4c6QAAAERlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAABAAAADaADAAQAAAABAAAADAAAAACUqjEeAAABaUlEQVQoFXWRsUtCURTGv3OvQRFSSxBFTW1NgUNLBG0turUEqRWkSwRKREvPrdSCCKIiTGoJJ20WqsGtXIIa/AMim6Kgoec9nWsIPsyzvHO/c373fOc+QpfI5oqrIEoQcN0glDcjoUqrVbTOyORvVoj53FuhpWQ0eGU15S38nbTL95I9e2t8aaczM/0LQWNCLFSY8NAOEtFhKnWnfe1iKzeAtTZKBmdE+GZgxtbk2+cf/9zwQJl8cV0mDBr2BYh/5hWRw+Aag95FHxKOBPR77CnGCJhSCu4Lsa4pmFnpqwoQE+BNZh0ll4M7cgb2c6W4+A/LhnGCqhtj9kReFOBRXixge3ZPCwNbawsfNm9OYlZPko+xQZUNp12ttgkUFTMFx3GaPS3AQpS9KL2KzwNjcKI1pmTbsug9iUhQVrIrdIa9ZVg8prVCXV5r0rCaFptz3QB7hZI/HwPhS/Je2esY1OhPhEO3ttgtfgGW3Hhm2cyrowAAAABJRU5ErkJggg==" />
                    </svg>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </li>
        <li class="wkea-index-nav-item"><a href="">维嘉品牌</a>
          <ul class="wkea-index-nav-item-ul">
            <li><a href="品牌" class="wkea-index-nav-item-li-a">品牌</a>
              <ul>
                <li>
                  <a href="">test</a></li>
                <li><a href="">test</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="品牌" class="wkea-index-nav-item-li-a">品牌</a>
            </li>
          </ul>
        </li>
        <li><a href="">供应商合作</a></li>
        <li><a href="wkea-sale.html">售后服务</a></li>
      </ul>
    </div>
  </div>
</body>

</html>