<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>邮箱注册</title>
	<link rel="stylesheet" href="../css/eamilRegister.css">
</head>
<body>
    <!--邮箱注册-->
		<div id="eamilRegister">
			<div id="eamilRegister-header">
				邮箱注册
			</div>
			<div id="eamilRegister-content">
				<ul>
					<li>
						<span class="eamilRegister-content-txt">邮箱</span><br>
						<span><input class="eamilRegister-content-input1 TitilliumWeb" type="text" value="137****0652@163.com"></span>
					</li>
					<li>
						<span class="eamilRegister-content-txt">邮箱验证码</span><br>
						<span><input class="eamilRegister-content-input2 TitilliumWeb" type="text" value="057243"><button class="btnSendcode">发送验证码</button></span>
					</li>
					<li>
						<span class="eamilRegister-content-txt">输入密码</span><br>
						<span><input class="eamilRegister-content-input1 TitilliumWeb" type="password" value="137****0652"></span>
					</li>
					<li>
						<span class="eamilRegister-content-txt">再次输入密码</span><br>
						<span><input class="eamilRegister-content-input1 TitilliumWeb" type="password" value="137****0652"></span>
					</li>
					<li class="eamilRegister-content-item3" style="border-bottom: none;margin-bottom: 0px;">
						<button class="eamilRegister-content-btn">注<span style="width: 2px;">&nbsp;</span>册</button>
					</li>
				</ul>
				<p class="eamilRegister-content2" >
					<input type="checkbox" /><span>&nbsp;&nbsp;我同意<a href="#" style="text-decoration: none;">&nbsp;《服务条款》</a>&nbsp;和&nbsp;<a href="#" style="text-decoration: none;">《维嘉隐私政策》</a></span>
				</p>
			</div>
			<!---邮箱注册尾部开始-->
			<div id="eamilRegister-footer">
				<span class="eamilRegister-footer-txt1">已有账号？</span><span class="eamilRegister-footer-txt2"><a href="#" style="text-decoration: none; width:40px; height: 20px; border-bottom:1px solid #009CE1">立即登录</a></span>
			</div>
			<!---邮箱注册尾部结束-->
		</div>
		</div>
</body>
</html>