<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>微信登录</title>
    <link rel="stylesheet" href="../css/wechartlogin.css">
</head>
<body>
    	<!--微信登录-->
		<div id="Wechartcode">
			<!--微信登录头部内容开始-->
			<div id="Wechartcode-header">
				<span class="Wechartcode-text">微信二维码登录</span><span class="Wechartcode-icon"><img width="88px" height="88px" src="../images/电脑.png"></span>
			</div>
			<!--微信登录头部内容结束-->
			<!--微信登录内容开始-->
			<div id="Wechartcode-content">
				<p>
					<img class="Wechartcode-content-img" src="../images/WechatIMG17.png">
				</p>
				<p>
					<img class="Wechartcode-footer-txt1" src="../images/icon_wei%20xin.png" style="width: 32px; height: 32px;" />&nbsp;&nbsp;&nbsp;&nbsp;<span
					 class="Wechartcode-footer-txt1">请使用微信扫码登录</span>
				</p>
			</div>
			<!--微信登录内容结束-->
			<!--微信登录底部开始-->
			<div id="Wechartcode-footer">
				<span class="Wechartcode-text2">使用其他方式登录:</span>&nbsp;<span class="Wechartcode-text3"><img style="transform: translateY(4px);"   src="../images/icon%20%20%20电话.png"
					 width="20px" height="20px" /></span>&nbsp;&nbsp;<span class="Wechartcode-text3"><img  style="transform: translateY(4px);"   src="../images/icon%20邮箱.png" width="20px" height="20px" /></span>
			</div>
			<!--微信登录底部结束-->
		</div>
</body>
</html>