

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>手机登录</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/phonelogin.css">
</head>
<body>
    <!---手机登录-->
<div id="wkea-phone">
    <!---手机登录头部开始-->
    <div id="wkea-phone-header">
        <ul>
            <li class="wkea-phone-header-item1"><a href="#">手机登录</a></li>
            <li class="wkea-phone-header-item2"><a href="#">邮箱登录</a></li>
            <span><img  class="wkea-phone-header-btn" src="../images/扫码登录更安全.png"></span>
            <span><img class="wkea-phone-header-icon" src="../images/二维码.png"></span>
        </ul>
    </div>
    <!---手机登录头部结束-->
    <!---手机登录内容开始-->
    <div id="wkea-phone-content">
        <ul>
            <li>
                <span class="wkea-phone-content-txt">手机号</span><br>
                <span><input class="wkea-phone-content-input1 TitilliumWeb" type="text" value="137****0652"></span>
            </li>
            <li>
                <span class="wkea-phone-content-txt">验证码</span><br>
                <span><input class="wkea-phone-content-input2 TitilliumWeb" type="text" value="057243"><button class="wkea-btnSendcode">发送验证码</button></span>
            </li>
            <li class="wkea-phone-content-item3" style="border-bottom:none;">
                <button class="wkea-phone-content-btn">登<span style="width: 2px;">&nbsp;</span>录</button>
            </li>
        </ul>
    </div>
    <!---手机登录内容结束-->
    <!---手机登录尾部开始-->
    <div id="wkea-phone-footer">
        <span class="wkea-phone-footer-text2" >使用其他方式登录:</span>&nbsp;<span class="wkea-phone-footer-text3"><img style="transform: translateY(-2px);"  src="../images/icon%20%20%20微信.png"
             width="20px" height="20px" /></span>&nbsp;&nbsp;<span class="wkea-phone-footer-text3"><img  style="transform: translateY(-2px);" src="../images/icon%20邮箱.png"
             width="20px" height="20px" /></span>
    </div>
    <!---手机登录尾部结束-->
</div>
</body>
</html>