<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>邮箱登录</title>
	<link rel="stylesheet" href="../css/emaillogin.css">
	
</head>
<body>
    <!---邮箱登录-->
		<div id="eamil">
			<!---邮箱登录头部开始-->
			<div id="eamil-header">
				<ul>
					<li class="eamil-header-item1"><a href="#">手机登录</a></li>
					<li class="eamil-header-item2"><a href="#">邮箱登录</a></li>
					<span><img  class="eamil-header-btn" src="../images/扫码登录更安全.png"></span>
					<span><img class="eamil-header-icon" src="../images/二维码.png"></span>
				</ul>
			</div>
				<!---邮箱登录头部结束-->
				<!---邮箱登录内容开始-->
			<div id="eamil-content">
				<ul>
					<li>
						<span class="eamil-content-txt">邮箱</span><br>
						<span><input class="eamil-content-input1 TitilliumWeb"   type="text" value="137****0652@163.com"></span>
					</li>
					<li>
						<span class="eamil-content-txt">输入密码</span><br>
						<span><input class=" eamil-content-input2 TitilliumWeb " type="password"  value="057243"></span>
					</li>
					<li>
						<button class="eamil-content-btn">登<span style="width: 2px;">&nbsp;</span>录</button>
					</li>
				</ul>
				<p class="eamil-content2">
					<span class="eamil-content-text2">使用其他方式登录:</span>&nbsp;<span class="eamil-content-text3"><img  style="transform: translateY(3px);"  src="../images/icon%20%20%20电话.png"
						 width="20px" height="20px" /></span>&nbsp;&nbsp;<span class="eamil-content-text3"><img  style="transform: translateY(3px);" src="../images/icon%20邮箱.png"
						 width="20px" height="20px" /></span>
				</p>
			</div>
				<!---邮箱登录内容结束-->
					<!---邮箱登录尾部开始-->
			<div id="eamil-footer">
		<span class="eamil-footer-txt1">没有账号？</span><span  class="eamil-footer-txt2"><a href="#"  style="text-decoration: none; width:40px; height: 20px; border-bottom:1px solid #009CE1">立即注册</a></span>
			</div>
				<!---邮箱登录尾部结束-->
		</div>
	
</body>
</html>